button {
  border-color: black;
  border: 1px solid;
  padding: 30px 40px;
  font-size: 30px;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  background-color: red;
}

p {
  font-size: 30px;
  margin: 0 20px;
}

.display {
  background-color: lightgray;
  padding: 20px;
  font-size: 30px;
  text-align: right;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
